@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.language-translator {
    svg {
        font-size: 20px;
        cursor: pointer;
    }

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    height: calc(100% - 90px);
    background: linear-gradient(90deg, #00143b 0%, #5a86ed 150%);

    @media screen and (max-width:435px) {
        padding-top: 40px;
        height: auto;
    }

    .loader {
        position: absolute;
        bottom: 47%;
        left: 39%;
        color: #5a86ed;
    }

    .heading {
        margin-bottom: 45px;
        @media screen and (max-width:435px) {
            margin-bottom: 30px;
        }

        span {
            font-size: 38px;
            font-family: Agbalumo;
            color: rgb(223, 218, 218);

            @media screen and (max-width:435px) {
                font-size: 30px;
            }
        }

        div {
            color: white;
            font-size: 17px;
            font-family: serif;

            @media screen and (max-width:435px) {
                font-size: 12px;
            }

        }
    }

    .container {
        display: flex;
        padding: 10px 30px;
        background-color: rgb(172, 193, 255);
        margin-bottom: 50px;

        @media screen and (max-width:435px) {
            width: 100%;
            flex-direction: column;
            gap: 40px;
            background: none;
            padding: 0;
        }

        .left {
            position: relative;
            border-right: 1px solid #00143b;

            @media screen and (max-width:435px) {
                background-color: rgb(172, 193, 255);
                height: 300px;
            }

            textarea {
                resize: none;
                padding: 10px 20px;
                border: none;
                margin-right: 15px;
                font-size: 16px;
                margin-bottom: 10px;
                background-color: rgb(172, 193, 255);

                &:focus {
                    outline: 0;
                }

                @media screen and (max-width:435px) {
                    width: 90%;
                    margin: 0;
                    padding: 0;
                    height: 60%;
                }
            }

            h1 {
                border-bottom: 1px solid #00143b;
                margin: 10px;
                padding-bottom: 10px;
                font-size: 28px;
                color: rgb(16, 16, 16);
                font-family: Roboto Slab;
            }

            .paste-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 38%;
                border: 1px solid black;
                border-radius: 5px;
                padding: 10px;
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;

                svg {
                    color: black;
                }

                &:active {
                    transform: translateY(3px);
                }
                @media screen and (max-width:435px) {
                    font-size: 12px;
                }
            }


        }

        .right {
            position: relative;

            h1 {
                border-bottom: 1px solid #00143b;
                margin: 10px;
                padding-bottom: 10px;
                font-size: 28px;
                color: rgb(8, 8, 8);
                font-family: Roboto Slab;
            }

            @media screen and (max-width:435px) {
                background-color: rgb(172, 193, 255);
                height: 300px;
            }

            textarea {
                resize: none;
                font-size: 16px;
                border: none;
                margin-left: 15px;
                padding: 10px 20px;
                background-color: rgb(172, 193, 255);

                &:focus {
                    outline: 0;
                }

                @media screen and (max-width:435px) {
                    width: 90%;
                    margin: 0;
                    padding: 0;
                    height: 60%;
                }
            }

            button:active {
                transform: translateY(3px);
            }

            button {
                position: absolute;
                top: 105px;
                right: 0px;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                font-size: 20px;
            }

        }

        .select {
            width: 50%;
            margin: auto;
            margin-bottom: 10px;
        }
    }
}