@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.summarizer {
    svg {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    height: calc(100% - 90px);
    background: linear-gradient(90deg, #00143b 0%, #5a86ed 150%);

    @media screen and (max-width:581px) {
        padding-top: 40px;
        height: calc(100% - 20px);
    }

    .loader {
        position: absolute;
        bottom: 47%;
        left: 39%;
        color: #5a86ed;
    }

    .heading {
        margin-bottom: 25px;

        span {
            font-size: 38px;
            font-family: Agbalumo;
            color: rgb(223, 218, 218);
        }

        div {
            color: white;
            font-size: 17px;
            font-family: serif;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: rgb(172, 193, 255);
        // height: fit-content;
        // margin-bottom: 20px;

        @media screen and (max-width:933px) {
            width: 100%;
        }

        .top-bar {
            border-bottom: 1px solid black;
            display: flex;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(17, 17, 17);

            // gap: 15px;
            .mode {
                padding: 10px;
            }

            .tabs {
                padding: 10px;
                padding-top: 5px;
                margin-top: 5px;
                border-bottom: 3px solid transparent;
                border-radius: 5px 5px 0 0;
                cursor: pointer;

                &:hover {
                    background-color: rgba(139, 139, 139, 0.2);
                }
            }

            .sumlen {
                margin-left: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 3px solid transparent;

                input[type=range] {
                    background-color: black;
                    accent-color: rgb(45, 102, 214);
                }

                div {
                    font-size: 18px;
                }
            }
        }

        .top-bar-mobile {
            border-bottom: 1px solid black;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(17, 17, 17);
            width: 100%;

            .settings {
                width: 100%;
                display: flex;
                flex-direction: column;

                .mode {
                    display: flex;
                    padding: 5px 10px;
                }

                .top-bar-container {
                    width: 100%;
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .summary-mode-title {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }

                    .modes {
                        display: flex;
                        margin: 5px 0;
                        border: 1px solid black;
                        justify-content: space-between;
                        width: 170px;
                        border-radius: 1000px;
                        overflow: hidden;

                        .tabs {
                            height: 18px;
                            padding: 6px;
                        }
                    }
                }

                .container-end-bar {
                    display: flex;
                    justify-content: center;
                    padding: 5px 0;

                    .bar {
                        height: 2px;
                        width: 50px;
                        background-color: grey;
                    }
                }
            }

            .text-type {
                display: flex;
                border-top: 1px solid black;

                .type {
                    padding: 10px;
                    flex: 1;
                }
            }
        }

        .text-field {
            display: flex;

            @media screen and (max-width:581px) {
                display: block;
            }

            .left {
                position: relative;
                border-right: 1px solid #00143b99;

                textarea {
                    resize: none;
                    padding: 10px 20px;
                    border: none;
                    font-size: 16px;
                    background-color: rgb(172, 193, 255);

                    &:focus {
                        outline: 0;
                    }

                    @media screen and (max-width:933px) {
                        width: 80%;
                    }
                }

                .paste-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: 35%;
                    left: 38%;
                    border: 1px solid black;
                    border-radius: 5px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    cursor: pointer;

                    svg {
                        color: black;
                    }

                    &:active {
                        transform: translateY(3px);
                    }

                }

                button:active {
                    box-shadow: 2px 2px black;
                    transform: translateY(3px);
                }

                button {
                    border-radius: 10px;
                    font-size: 16px;
                    padding: 8px;
                    background-image: linear-gradient(#06338f, rgb(132, 159, 248));
                    box-shadow: 2px 5px black;
                    font-family: Roboto Slab;
                    font-weight: bold;
                    color: black;
                    cursor: pointer;
                }

                .bottom {
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 20px;
                    margin-bottom: 15px;
                }
            }

            .right {
                position: relative;

                @media screen and (max-width:581px) {
                    display: none;
                }

                textarea {
                    resize: none;
                    font-size: 16px;
                    border: none;
                    padding: 10px 20px;
                    background-color: rgb(172, 193, 255);

                    &:focus {
                        outline: 0;
                    }

                    @media screen and (max-width:933px) {
                        width: 80%;
                    }
                }

                button:active {
                    transform: translateY(3px);
                }

                button {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    font-size: 20px;
                    height: 50px;
                    width: 50px;
                    padding: 10px;
                    border-radius: 1000px;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.229);
                    }

                    svg {
                        color: black;
                    }
                }

                .download {
                    bottom: 10px;
                    right: 60px;
                }
            }
        }
    }
}